services:
  mongo:
    image: mongo:7
    container_name: lms_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: ./server
    container_name: lms_server
    restart: unless-stopped
    ports:
      - "4001:4000"
    environment:
      PORT: 4000
      MONGO_URL: mongodb://mongo:27017
      FRONTEND_URL: http://localhost:5173
    depends_on:
      - mongo

  client:
    build:
      context: ./client
    container_name: lms_client
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  mongo_data:
