PORT=4000
FRONTEND_URL=http://localhost:5173

MONGO_URL=mongodb://127.0.0.1:27017

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_MAIL=your_email@gmail.com

JWT_SECRET_KEY=your_jwt_secret
JWT_EXPIRE=3d
COOKIE_EXPIRE=3

CLOUDINARY_CLIENT_NAME=your_cloudinary_name
CLOUDINARY_CLIENT_API=your_cloudinary_api_key
CLOUDINARY_CLIENT_SECRET=your_cloudinary_secret

GROQ_API_KEY=your_groq_api_key
